fastapi
uvicorn
pydantic
langchain
google-generativeai
langchain-google-genai
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
python-dotenv
google-generativeai
typing-extensions
#pandas==2.1.4
